#sectionLogin {
    padding: 70px;
    height: 100vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 185, 103, 1) 77%, rgba(255, 142, 10, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteinerLogin {
    display: flex;
    flex-direction: column;
    padding: 70px;
    height: 100vh;
    border: 1px solid #FF8E0A;
}

#contenedorRecuperarContraseña {
    display: none;
    padding: 70px;
    height: 100vh;
    flex-direction: column;
    border: 1px solid #FF8E0A;
    position: relative;
}

#primeraLineaLogin,
#primeraLineaRecuperarContra {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#flechaAtrasLoginLink,
#flechaAtrasRecuperarContra {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
}

#IniciarSesion,
#recuperarCuenta {
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

#formLogin,
#formRecuperarContraseña {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.labelsLogin {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

.inputsLogin {
    border: 2px solid grey;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 240px;
    height: 45px;
    font-size: 1.1rem;
    padding: 10px;
}

.inputsLogin:focus {
    outline: none;
    border: 2px solid #FF8E0A;
}

#botonIniciarSesion,
#continuarRecuperarContraseña {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 240px;
    height: 45px;
    font-size: 1.1rem;
    padding: 0 10px;
    color: white;
    background-color: rgba(172, 171, 171, 0.603);
    border: none;
    cursor: default;
}

#continuarRecuperarContraseña {
    position: absolute;
    bottom: 15px;
}

#inputContraseñaLogin {
    padding-right: 30px;
}

#errorMsg {
    color: red;
    font-size: .8rem;
    text-align: center;
    font-weight: 600;
    height: 15px;
    visibility: hidden;
}

#olvidasteContraseña {
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    padding-top: 15px;
    cursor: pointer;
}

#olvidasteContraseña:hover {
    text-decoration: underline;
}

#contenedorInputContraseña {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30;
}

#ojoCerradoImagen {
    display: inline;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

#ojoAbiertoImagen {
    display: none;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

#parrafoRecuperarContraseña {
    font-size: .8rem;
    color: rgb(83, 83, 83);
    max-width: 250px;
}

#flechaAtrasRecuperarContraseña {
    position: absolute;
    left: 0;
    cursor: pointer;
}

#parrafoUsuarioNoExiste {
    color: red;
    font-size: .8rem;
    font-weight: 600;
    visibility: hidden;
}

@media screen and (max-width: 540px) {
    .labelsLogin {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    #conteinerLogin {
        border: none;
        padding: 70px 0;
    }

    #contenedorRecuperarContraseña {
        border: none;
        padding: 70px 0;
    }
}

@media screen and (max-width: 250px) {
    .inputsLogin {
        width: 90vw;
    }

    #ojoCerradoImagen {
        display: none;
    }

    #ojoAbiertoImagen {
        display: none;
    }

    #botonIniciarSesion {
        width: 90vw;
    }

    #continuarRecuperarContraseña {
        width: 90vw;
    }

    #primeraLineaRecuperarContra {
        justify-content: space-around;
    }
}

@media screen and (max-width: 180px) {
    #flechaAtrasRecuperarContraseña {
        left: -5px;
    }

    #recuperarCuenta {
        font-size: .8rem;
    }
}