#contenedorModal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(78, 78, 78, 0.863);
    margin: 0;
    padding: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subcontenedorModal {
    height: max-content;
    background-color: white;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.textosModal {
    font-size: 1.1rem;
    max-width: 300px;
    text-align: center;
}

#botonEntendido {
    background-color: #0C0221;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid grey;
    width: 250px;
    height: 45px;
    font-size: 1.1rem;
    cursor: pointer;
}

.textosModal>span {
    font-weight: 600;
}

@media screen and (max-width: 400px) {
    #subcontenedorModal {
        padding: 60px 0;
    }
}

@media screen and (max-width: 320px) {
    #subcontenedorModal {
        padding: 60px 20px;
    }

    .textosModal {
        font-size: .9rem;
        max-width: 200px;
    }

    #botonEntendido {
        width: 95%;
    }
}

@media screen and (max-width: 200px) {
    #subcontenedorModal {
        padding: 60px 0;
    }
}