#sectionRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 185, 103, 1) 77%, rgba(255, 142, 10, 1) 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#crearCuentaParrafo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
}

#linkArrow {
    display: inline;
    position: absolute;
    left: 20px;
}

#segundaFlechaAtrasImage {
    display: none;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

#crearCuentaTitulo {
    font-weight: 600;
    margin: 0;

}

#formRegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 2px solid #FF8E0A;
    padding: 60px 30px;
    background-color: rgba(255, 255, 255, 0.411);
}

#labelRegistro {
    font-size: 2rem;
}

.errorMessage {
    visibility: hidden;
    color: red;
    font-weight: 600px;
}

#contenedorPrimerRegistro {
    max-width: 300px;
    text-align: center;
}

#contenedorInputBoton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}

.inputRegistro {
    border: 2px solid grey;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 240px;
    height: 45px;
    font-size: 1.1rem;
    padding: 0 10px;
}

.inputRegistro:focus {
    outline: none;
    border: 2px solid #FF8E0A;
}

#inputRegistro>p {
    font-size: .5rem;
}

#inputRegistro:valid~button {
    background-color: #FF8E0A;
}

#botonContinuar,
#botonContinuarDos {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 260px;
    height: 45px;
    font-size: 1.1rem;
    padding: 0 10px;
    color: white;
    background-color: rgba(172, 171, 171, 0.603);
    border: none;
}

#contenedorSegundoRegistro {
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
    display: none;
    align-items: center;
}

#tituloNombreContraseña {
    text-align: center;
}

.labelSegundoRegistro {
    text-align: left;
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 700;
}

#contenedorDeInputContraseña {
    position: relative;
}

#ojoCerradoImagen {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline;
}

#ojoAbiertoImagen {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

#terminosCondiciones {
    display: flex;
    padding-top: 20px;
}

.terminosNaranja {
    color: #FF8E0A;
    font-weight: 700;
}

#checkBox {
    width: 40px;
}

#segundoLabel {
    padding: 0;
}

#errorMsgNombre {
    visibility: hidden;
    margin: 0;
    padding: 0;
    color: red;
    font-size: .8rem;
    max-width: 250px;
}

@media screen and (max-width: 400px) {
    #formRegistro {
        border: none;
        padding: 20px;
        width: 95%;
    }

    #labelRegistro {
        font-size: 1.5rem;
    }

    #inputRegistro {
        width: 90%;
    }

    #botonContinuar {
        width: 94%;
    }
}