#sectionRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 185, 103, 1) 77%, rgba(255, 142, 10, 1) 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#crearCuentaParrafo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
}

#linkArrow {
    position: absolute;
    left: 20px;
}

#crearCuentaTitulo {
    font-weight: 600;
    margin: 0;

}

#formRegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 2px solid #FF8E0A;
    padding: 60px 30px;
    background-color: rgba(255, 255, 255, 0.411);
}

#labelRegistro {
    font-size: 2rem;
    max-width: 300px;
    text-align: center;
}

#contenedorInputBoton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#inputRegistro {
    border: 2px solid grey;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 240px;
    height: 45px;
    font-size: 1.1rem;
    padding: 0 10px;
}

#inputRegistro:focus {
    outline: none;
    border: 2px solid #FF8E0A;
}

#inputRegistro>p {
    font-size: .5rem;
}

#inputRegistro:valid~button {
    background-color: #FF8E0A;
}

#botonContinuar {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 260px;
    height: 45px;
    font-size: 1.1rem;
    padding: 0 10px;
    color: white;
    background-color: rgba(172, 171, 171, 0.603);
    border: none;
}

@media screen and (max-width: 400px) {
    #formRegistro {
        border: none;
        padding: 0;
    }

    #labelRegistro {
        font-size: 1.5rem;
    }

    #inputRegistro {
        width: 90%;
    }

    #botonContinuar {
        width: 94%;
    }
}